<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.rb-recorder.mac-capture</string>
    <key>CFBundleName</key>
    <string>mac-capture</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Needs to capture Rekordbox audio output.</string>
</dict>
</plist>